<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('卡片列表')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-title">

                        <h5>IT-01 - 设计部</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>部门简介</h4>
                        <p>
                          平面设计（graphic design），也称为视觉传达设计，是以“视觉”作为沟通和表现的方式，透过多种方式来创造和结合符号、图片和文字，借此作出用来传达想法或讯息的视觉表现。
                        </p>
                        <div>
                            <span>当前项目进度：</span>
                            <div class="stat-percent">48%</div>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">项目</div>
                                12
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">周期</div>
                                4个月
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">预算</div>
                                &yen;200,913 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-04 - 市场部</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>部门简介</h4>
                        <p>
                            市场调研：市场部门需要对市场进行调研，了解市场需求和趋势，以便为企业的产品和服务提供指导。
                        </p>
                        <div>
                            <span>当前项目进度：</span>
                            <div class="stat-percent">32%</div>
                            <div class="progress progress-mini">
                                <div style="width: 32%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">项目</div>
                                24
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">周期</div>
                                3个月
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">预算</div>
                                &yen;190,325 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">NEW</span>
                        <h5>IT-02 - 开发部</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>部门简介</h4>
                        <p>
                            软件开发：开发部门的主要职责是负责软件的开发和维护，包括需求分析、设计、编码、测试、部署等一系列工作。
                        </p>
                        <div>
                            <span>当前项目进度：</span>
                            <div class="stat-percent">61%</div>
                            <div class="progress progress-mini">
                                <div style="width: 61%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">项目</div>
                                43
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">周期</div>
                                1个月
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">预算</div>
                                &yen;705,913 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">截止</span>
                        <h5>IT-05 - 管理层</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>部门简介</h4>
                        <p>
                            开发部门需要管理和培训团队成员，提高团队的技术水平和工作效率。
                            开发部门通常由多个软件开发工程师、项目经理、架构师、测试工程师等人员组成，他们都需要具备一定的技术能力和项目管理能力。开发部门的工作涉及到多个技术领域，如前端开发、后端开发、移动应用开发、数据库设计等，因此需要具备多方面的技术知识和经验。
                        </p>
                        <div>
                            <span>当前项目进度：</span>
                            <div class="stat-percent">14%</div>
                            <div class="progress progress-mini">
                                <div style="width: 14%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">项目</div>
                                8
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">周期</div>
                                7个月
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">预算</div>
                                &yen;40,200 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-title">

                        <h5>IT-03 - 销售部</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>部门简介</h4>
                        <p>
                            签订合同：销售部门需要与客户进行谈判，达成合作意向，并签订合同以确保合作关系的稳定性。
                            实现销售目标：销售部门需要制定销售计划和目标，并通过有效的销售策略和手段，实现销售目标。
                        </p>
                        <div>
                            <span>当前项目进度：</span>
                            <div class="stat-percent">82%</div>
                            <div class="progress progress-mini">
                                <div style="width: 82%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">项目</div>
                                68
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">周期</div>
                                2个月
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">预算</div>
                                &yen;701,400 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>IT-06 - 财务部</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>部门简介</h4>
                        <p>
                            财务部（Financial Management Department），企业、事业机构设立的职能部门，负责本机构的财务管理。
                            在本机构一定的整体目标下，关于资产的购置（投资），资本的融通（筹资）和经营中现金流量（营运资金），以及利润分配的管理的部门。
                        </p>
                        <div>
                            <span>当前项目进度：</span>
                            <div class="stat-percent">73%</div>
                            <div class="progress progress-mini">
                                <div style="width: 73%;" class="progress-bar"></div>
                            </div>
                        </div>
                        <div class="row  m-t-sm">
                            <div class="col-sm-4">
                                <div class="font-bold">项目</div>
                                11
                            </div>
                            <div class="col-sm-4">
                                <div class="font-bold">周期</div>
                                6个月
                            </div>
                            <div class="col-sm-4 text-right">
                                <div class="font-bold">预算</div>
                                &yen;560,105 <i class="fa fa-level-up text-navy"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
